# # GENERAL INFORMATION
FIREBASE_PROJECT_ID=
FIREBASE_AUTH_DOMAIN=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=

# ANDROID CONFIG
ANDROID_API_KEY=
ANDROID_APP_ID=

# IOS CONFIG / MAC_CONFIG
IOS_API_KEY=
IOS_APP_ID=
IOS_BUNDLE_ID=

# GOOGLE CLOUD LOGGING
GCP_PROJECT_ID=
GCP_LOGGING_SERVICE_ACCOUNT=
